<div class="container">
    <h2>Travelling Salesman Problem Solver</h2>
  
    <div class="btn-group" role="group">
      <button (click)="solveTsp()" class="btn btn-primary" [disabled]="loading">
        {{ loading ? 'Solving...' : 'Solve TSP' }}
      </button>
    
      <button (click)="stopTsp()" class="btn btn-primary" [disabled]="!loading">
        {{ 'Stop Tsp' }}
      </button>
    </div>

  
    <div *ngIf="errorMessage" class="alert alert-danger mt-2">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="response" class="mt-3">
      <h4>Best Route:</h4>
      <p>{{ response.bestRoute.join(' → ') }}</p>
      <h4>Total Distance:</h4>
      <p>{{ response.distance }} km</p>
    </div>
</div>
  
<app-csv-upload-form (fileValidated)="handleValidatedFile($event)"></app-csv-upload-form>
<app-genetic-params-form></app-genetic-params-form>